body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    font-size: 12px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 18px;
    color: #063b5a;
}

form {
    display: flex;
    flex-direction: column;
}

.field-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

label {
    font-weight: bold;
    color: #fec329;
    font-size: 12px;
    flex: 0.3;
    text-align: left;
}

input[type="text"],
input[type="file"],
input[type="number"],
textarea,
select,
input[type="date"] {
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 12px;
    flex: 0.7;
    width: 100%;
}

button {
    padding: 8px;
    background-color: #063b5a;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#exportBtn {
    background-color: #fec329;
    color: #063b5a;
}

.shop-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

/* Responsive Design */
@media (max-width: 600px) {
    .field-group {
        flex-direction: column;
        align-items: flex-start;
    }
    
    label {
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="file"],
    input[type="number"],
    textarea,
    select,
    input[type="date"] {
        margin-left: 0;
        width: 100%;
    }
    
    button {
        width: 100%;
    }
}
